*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

header{
    width: 100vw;
    background-color: #1d020a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

main{
    position: relative;
    bottom: 0px;
}

textarea{
    margin-top: 0px;
    display: flex;
    font-size: 12px;
    width: 90vw;
    text-align: justify;
    height: 60vh;
    color: #1d020a;
    box-shadow: 10px 10px black;
    background-color: #ffffff;
    padding: 10px;
}


button{
    color: white;
    font-weight: 900;
    border-radius: 10px;
    font-size: larger;
    background-color: #2EC934;
    border: none;
    width: 90vw;
    height: 50px;
    position: fixed;
    bottom: 60px;
    left: 5vw;
}

#change-colors{
    color: #696969;
    font-weight: 700;
    border-radius: 10px;
    font-size: 15px;
    border: none;
    background-color: white;
    width: 90vw;
    height: 35px;
    position: fixed;
    bottom: 20px;
    left: 5vw;
}

#last-update-container{
    margin-top: 13px;
    width: 90vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

#last-update{
    opacity: 50%;
}

#now-time{
    color: grey;
}

footer{
    position: relative;
    bottom: 20vh;

}

header img{
    width: 100px;
}

@media (max-width: 720px) {
    header img{
       height: 5vh;
    }
}